*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
}
body
{
    padding-left: 10px;
    margin-right: 10px;
}
.sign-up
{
    text-align: center;
    background:linear-gradient(to right,rgba(0, 110, 255, 0.288),rgba(253, 255, 137, 0.5));
    height: max-content;
    width: 25vw;
    margin: auto;
    margin-top: 15vh;
    padding: 3vw;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgb(63, 62, 62);
}
input
{
    width: 90%;
    outline: none;
    border: 3px solid rgb(71, 133, 184);
    padding: 10px;
    margin: 5px 0px;
    border-radius: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329) inset;
    font-family: 'Courier New', Courier, monospace;
}
.limit
{
    font-size: 14px;
    margin-left: 10px;
}
.sign-up-btn
{
    background-color: rgb(0, 0, 126);
    text-decoration: none;
    color: white;
    display: block;
    margin: 2vh auto;
    width: 12vw;
    border-radius: 5px;
    text-align: center;
    padding: 1.2vh;
    box-shadow: 0px 0px 10px rgb(59, 59, 255) inset;
}
.blue:hover
{
    background-color: rgb(39, 39, 180);
}
.gmail,.facebook
{
    background-color: white;
    color: black;
    width: 17vw;
    box-shadow: 1px 1px 5px black;
}
.other:hover
{
    background-color: rgb(221, 221, 221);
}
.logo
{
    float: left;
    height: 2.5vh;
}
@media (max-width:767px)
{
    .sign-up
    {
        width: 80%;
    }
    .sign-up-btn
    {
        border-radius: 5px;
        width: 60%;
    }
}